// Transform utility classes

.scale-0 { transform: scale(0) }
.scale-50 { transform: scale(0.5) }
.scale-75 { transform: scale(0.75) }
.scale-90 { transform: scale(0.9) }
.scale-95 { transform: scale(0.95) }
.scale-100 { transform: scale(1) }
.scale-105 { transform: scale(1.05) }
.scale-110 { transform: scale(1.1) }
.scale-125 { transform: scale(1.25) }
.scale-150 { transform: scale(1.5) }

.rotate-0 { transform: rotate(0deg) }
.rotate-45 { transform: rotate(45deg) }
.rotate-90 { transform: rotate(90deg) }
.rotate-180 { transform: rotate(180deg) }
.-rotate-90 { transform: rotate(-90deg) }
.-rotate-180 { transform: rotate(-180deg) }

.translate-x-0 { transform: translateX(0) }
.translate-y-0 { transform: translateY(0) }
.translate-x-1 { transform: translateX(4px) }
.translate-y-1 { transform: translateY(4px) }
.translate-x-2 { transform: translateX(8px) }
.translate-y-2 { transform: translateY(8px) }
.translate-x-full { transform: translateX(100%) }
.translate-y-full { transform: translateY(100%) }
.-translate-x-full { transform: translateX(-100%) }
.-translate-y-full { transform: translateY(-100%) }
.-translate-x-1\/2 { transform: translateX(-50%) }
.-translate-y-1\/2 { transform: translateY(-50%) }
.top-1\/2 { top: 50% }
.left-1\/2 { left: 50% }

.origin-center { transform-origin: center }
.origin-top { transform-origin: top }
.origin-bottom { transform-origin: bottom }
.origin-left { transform-origin: left }
.origin-right { transform-origin: right }
