// Expansion Panel/Accordion - Official Angular Material M3 SCSS
@use '../m3-scss/material/expansion/expansion-panel.module';
@use '../m3-scss/material/expansion/expansion-panel-header.module';

.matExpansion {
  // Local class for CSS modules purity
}

.matAccordion {
  // Alias
}
