// Slide Toggle/Switch - Official Angular Material M3 SCSS
@use '../m3-scss/material/slide-toggle/slide-toggle.module';

.matSlideToggle {
  // Local class for CSS modules purity
}

.matSwitch {
  // Alias
}
