.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
