# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.venv/
venv/
env/
vendor/
build/
build-*/
dist/
*.egg-info/
.eggs/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
sdl3_app.log
sdl3_app.*.log
/.idea/.gitignore
/.idea/editor.xml
/.idea/modules.xml
/.idea/SDL3CPlusPlus.iml
/.idea/vcs.xml
_build/
